.cards {
  width: 20%;
  height: 300px;
  padding: 5px;
  margin: 5px;
  box-shadow: 15px 15px 25px 0px rgba(0,0,0,0.75);
}

.login-div {
  width: 100%;
}

.login-div .cards {
  width: 500px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup-close-icon {
  float: right;
  margin: 5px;
  font-size: 35px;
}

.input {
  height: 30px;
  min-width: 300px;
  margin: 5px;
  font-size: large;
  padding: 4px 10px 5px 10px;
}

.login-input {
  width: 100%;
  text-align: center;
}

.login-input .input {
  width: 80%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-style: italic;
}